<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <link href='/stylesheets/default.css' rel='stylesheet' type='text/css' />
  </head>
  <body>
    <%= catch_content :for_layout %>
  </body>
</html>
